<div class="header">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-6">
        <div class="logo">
          <%= link_to '/' do %>
            <%= image_tag 'logo.png' %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row justify-content-md-center">
      <div class="col-6">
        <div class="search-box">
          <%= text_field_tag :q, '', class: 'form-control', placeholder: 'Search...' %>
        </div>
      </div>
    </div>

    <div class="row justify-content-md-center">
      <div class="col-6">
        <i class="fa fa-circle-o-notch"></i>
        <div class="loader d-none">Loading...</div>
      </div>
    </div>
  </div>
</div>

<div class="analytics">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-6">
        <div class="row">
          <div class="col-4">
            <h4>Analytics</h4>
          </div>
          <div class="col-8 text-md-right">
            <%= link_to 'Enqueue Job', job_url %> |
            <%= link_to 'Reload', '' %> |
            <%= link_to 'Clear stats', reset_url %>
          </div>
        </div>
        <% if @summaries.empty? %>
          <p>
          <em>No data. Try simulating a search and then enqueeing a job.</em>
          </p>
        <% end %>
        <ol>
          <% @summaries.each do |summary| %>
            <li><%= summary.text %> (<%= pluralize summary.hits, 'search' %>)</li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="how-works">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-6">
        <h4>How it works</h4>
        <p>
          The goal here is to generate insight of content in the Knowlegde Base
          by using the user searches like inspiration. The as more the users
          are looking for the same content, as more it would be important.
        </p>

        <p>
          The challange is don't save partial query sentences once we 
          are using a <strong>realtime search box.</strong>
        </p>

        <p>
        <strong>The solution was use the time.</strong> So, those are the defined rules:
          <ol>
            <li>Search every <strong>750ms</strong> when the user stops to type;</li>
            <li>Create a record (Search Model) with the entered term;</li>
            <li>Update the last search record it was entered in the last <strong>5 seconds</strong>.</li>
          </ol>
        </p>

        <p>
          After save those records we need to account the amount of times the same search 
          was done. For this we defined a Job that look for all the searches updated for more than 
          <strong>5 seconds ago</strong>. I assumed their sentemces are complete.
        </p>

        <p>
          <u>Important:</u> 
            I have not care a lot about UX, so some things require
            the user interation and are not automatic:
          <ul>
            <li>
              Schedule jobs. The ideia is run the job every 1 hour, but I
              haven't configure this on Heroku. So you need to click on
              "Enqueuee Job".
            </li>
            <li>
              Update analytics. I am not using "Ajax" here to update the list
              of top 10 searches.  Because this I created the "Reload" link,
              that simply reloads the page.
            </li>
          </ul>
        </p>

        <h4>Stack</h4>

        <p>
          I tryied to use the minimum.
        </p>

        <ul>
          <li>Rails 5 (full stack)</li>
          <li>Minitest</li>
          <li>PostgreSQL</li>
          <li>Sidekiq</li>
        </ul>

        <h4>Finally</h4>

        <p>
          I hope I have achieved what you guys hoped.
        </p>

        <p>
          Thanks for the time.
        </p>

        <p>
          Lucas Castro
        </p>
      </div>
    </div>
  </div>
</div>
