/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.header {
  padding: 50px 0;
}
.header .justify-content-md-center {
  text-align: center;
}
.header .logo img {
  margin-bottom: 30px;
}
.loader {
  margin-top: 10px;
}
.analytics {
  background: #00a3f1;
 color: white;
  padding: 30px 0;
}
.analytics a {
  color: white;
  text-decoration: underline;
}
.analytics ol {
  margin-top: 20px;
}
.how-works h4 {
  margin-top: 30px;
}
.how-works {
  padding-bottom: 40px;
}
